.wrapper {
    margin-top: var(--default-layout-header-height);
    min-height: 1000px;
    padding: 12px 7.5px;

    .container {
        z-index: 1;
        width: var(--default-layout-width);
        background-color: transparent;
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: row;
    }
}

.detail-content {
    padding-top: 0;
    padding-bottom: 0;
    width: 75%;

    .content {
        margin-bottom: 20px;

        table {
            border-collapse: collapse;

            thead {
                height: 50px;
                text-align: left;
                background-color: var(--bg_color);
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;
            }

            tbody {
                width: 100%;

                button {
                    width: 125%;
                    border-top: 1px solid #dee2e6;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.09) !important;
                    }
                }

                td {
                    display: table-cell;
                }
            }
        }
    }
}

.width-name {
    font-size: 1.4rem;
    width: 80%;
    text-align: left;
    padding: 1.2rem;
}

.chapter-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.width-time {
    font-size: 1.4rem;
    width: 20%;
    padding: 0.9rem 1.2rem;
}

.hide {
    text-indent: -100000000000000000px;
}

.same-author {
    width: 25%;
}
