// .wrapper {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     min-width: 100px;
//     padding: 9px 16px;
//     border-radius: 4px;
//     font-size: 1.6rem;
//     font-weight: 700;
//     cursor: pointer;
//     border: 1px solid transparent;
//     background-color: rgb(255, 255, 255);
//     user-select: none;

//     + .wrapper {
//         margin-left: 8px;
//     }

//     &.disabled {
//         pointer-events: none;
//         opacity: 0.5;
//     }
// }

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.prefix {
    justify-content: flex-start;
}

.icon {
    color: var(--main_color);

    &:hover {
        color: var(--main_color_hover);
    }
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//Button type
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.type {
    display: block;
    padding: 3px 15px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 14px;
    border: 1px solid;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 8px 8px 0;
    border-color: rgb(68, 151, 248);

    &:hover {
        color: var(--main_color);
    }
}

.tag {
    display: block;
    padding: 3px 15px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 14px;
    border: 1px solid;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 8px 8px 0;
    border-color: green;

    &:hover {
        color: var(--main_color);
    }
}

.author {
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Disable

//Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
