.hero-of-story {
    display: flex;
    width: 100%;

    .img-story {
        display: flex;
        width: 15%;
        height: 255px;
        border-radius: 8px;
        overflow: hidden;
        padding: 0;

        &:hover .custom-zoom-img {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .info-story {
        width: 60%;
        padding: 12px 16px;

        .info-story-title {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;

            h1 {
                width: 75%;
                font-size: 2.8rem;
                font-weight: 700;
                letter-spacing: -0.8px;
            }
        }
        .info-story-author {
            font-size: 14px;
            span {
                color: rgba(0, 0, 0, 0.6);

                &:hover {
                    color: var(--main_color_hover);
                }
            }
        }
        .info-story-contributor {
            h3 {
                font-size: 14px;
                font-weight: 400;
            }

            span {
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.6);

                &:hover {
                    color: var(--main_color_hover);
                }
            }
        }
        .info-story-status {
            h3 {
                font-size: 14px;
                font-weight: 400;
            }

            span {
                color: var(--blue);
            }
        }
        .info-story-theloai {
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
        }
        .info-story-tag {
            display: flex;
            flex-wrap: wrap;
        }
        .info-story-detail {
            .info-story-detail-chu {
                margin-right: 8px;
                color: var(--danger);
            }
            .info-story-detail-chuong {
                margin-right: 8px;
                color: var(--success);
            }
            .info-story-detail-doc {
                margin-right: 8px;
                color: var(--primary);
            }
        }
        .info-story-interactive {
            .info-story-docluutruyen {
                margin-top: 12px;
                button {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--white);
                    height: 30px;
                    width: 130px;
                    min-width: 64px;
                    padding: 0 16px;
                    background-color: #128c7e;
                    border-color: #128c7e;
                    border-radius: 50px;
                    margin-right: 3px;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    transition-duration: 0.28s;
                    transition-property: box-shadow, transform, opacity;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                    span {
                        margin-left: 4px;
                    }

                    &:hover {
                        background-color: #118275;
                    }
                }
            }

            .info-story-interaction {
                margin-top: 10px;
                button {
                    font-size: 1.4rem;
                    width: 130px;
                    height: 55px;
                    transition: 0.25s;
                    color: var(--main_color);
                    margin-right: 4px;
                    padding: 4px 8px;

                    &:hover {
                        box-shadow: 0 0.5em 0.5em -0.3em var(--main_color_hover);
                        transform: translateY(-0.25em);
                    }
                }

                .info-story-interaction-item {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
    }
}

.rate {
  flex: 1;

  .rate-story {
    .star-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; // hàng ngang
    }
  }
}

.rate-box {
    display: flex;
    font-size: 34px;
    text-align: center;
    border: 1px solid #ddd;
    color: #111;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    button {
        cursor: pointer;
    }

    &:hover > .rate-box-mask-icon {
        display: block;
    }

    .rate-box-mask-icon {
        height: 100%;
        background-color: rgba(17, 17, 17, 0.1);
        position: absolute;
        color: var(--main_color) !important;
        font-size: 20px;
        width: 100%;
        border: none;
        line-height: 2.6;
        z-index: 11;
        display: none;
    }

    .num {
        font-size: 34px;
        line-height: 50px;
        text-align: center;
        position: relative;
        width: 100%;
        height: 50px;
        font-weight: 700;

        small {
            font-weight: 200;
            font-size: 14px;
            color: #888;
            display: block;
            position: absolute;
            top: 14px;
            line-height: 14px;
            right: 8px;
        }
    }

    .btn-wrapper {
        font-size: 14px;
        display: block;
        background-color: #f4f4f4;
        width: 100%;
        outline: none;
        box-shadow: none;
        padding-top: 5px;
        .rating-count {
        }
    }
}

.user-recommendation {
    padding: 5px;
    border-radius: 10px;

    .user-recommendation-title {
        border-bottom: 1px solid #ccc;
    }
}
.user-recommendation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .user-recommendation-list-item {
        display: flex;
        justify-content: space-between;
        align-items: start;
        border-radius: 5px;
    }
    .user {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 8px;
        .user-info {
            .user-info-header {
                .user-name {
                    font-size: 1.4rem;
                    font-weight: bolder;
                    color: var(--main_color) !important;
                }
            }
            .user-info-created-at {
                font-size: 12px;
                color: #535c68;
            }
        }
    }
    .user-donate {
        flex: 0 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .user-donate-count {
            font-size: 1.4rem;
            font-weight: bolder;
        }
    }
}
