//Story
//Header
.story-of-weeks {
    flex: 1;
    background-color: transparent;

    .card-header {
        background-color: #fff;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding: 0 15px;
            font-size: 2.4rem;
        }

        .card-more {
            padding: 0 0.8rem;
            display: flex;
            align-items: center;
            color: var(--main_color);

            p {
                padding: 0 0.5rem;
                font-size: 1.4rem;
            }
        }
    }
}

//Cover Story
.list-story {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
