@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
:root {
    --main_color: #128c7e;
    --main_color_hover: #0e6d62;
    --text_color: rgba(0, 0, 0, 0.8);
    --bg_color: #f8f9fa;
    --text_color_translation: #00f;
    --text_color_edit_nhanh: #90f;
    --text_color_indite: #99cc32;
    --text_color_convert: #64126b;

    //color
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    //Default Layout
    --default-layout-header-height: 60px;
    --default-navbar-header-height: 40px;
    --default-layout-width: 1155px;
    --default-homepage-intro-height: 300px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: overlay;
}

button,
input,
tabindex {
    border: none;
    outline: none;
}

button {
    &:hover {
        cursor: pointer;
    }
}

li,
ul {
    list-style: none outside none;
}

a {
    color: black;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html *::-webkit-scrollbar {
    width: 5px;
}
html *::-webkit-scrollbar-thumb {
    background: #888;
}
html *::-webkit-scrollbar-track {
    background: #f1f1f1;
}
