.wrapper {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.rate-comments-item {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;

    img {
        width: 4.6rem;
        border-radius: 50%;
    }

    .rate-comments-user-avatar {
        margin-right: 1.6rem;
        cursor: pointer;
    }
}

.rate-comments-user-content {
    flex: 1;
    .user-comment-name {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
        display: inline-block;
    }

    .rate-body {
        .rate-info {
        }

        .rate-stars {
        }

        .rate-date {
        }

        .rate-content {
            margin-top: 0.8rem;
        }

        .rate-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            margin-top: 1.6rem;
            padding: 0 10px;
            font-size: 1.6rem;
            .icon {
                padding: 0.5rem;
            }

            &:hover .icon {
                cursor: pointer;
            }
        }
    }
}

.user-info-link {
}

.controls-textColor {
}
