.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../../assets/images/bg-new-bns.f44db4a9.png');
}

.container {
    margin: 0 auto;
    width: var(--default-layout-width);
    // padding: 0px var(--default-layout-horizontal-spacer);
    min-height: max-content;
}
