.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding: 5px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.44);
    border-radius: 4px;

    img {
        padding: 7px;
        margin-top: 7px;
        object-fit: cover;
        width: 30%;
        height: auto;
        border-radius: 15px;
        transition: box-shadow 0.4s ease-in;

        &:hover {
            cursor: pointer;
            box-shadow: 0 2px 9px rgba(0, 0, 0, 0.44);
            transition: box-shadow 0.2s ease-in;
        }
    }
}
