.header {
    // display: flex;
    // flex-direction: row;
}

.wrapper {
    --icon-width: 2.4rem;
    --icon-height: 2.4rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: #f8f9fa;
    // box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    margin: 0 auto;
    padding: 5px 0;
    // padding: 0px var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: flex;
    align-items: center;

    img {
        width: 153px;
    }
}

// .action-btn {
//     font-size: 2.2rem;
//     color: #161823;
//     background-color: transparent;
//     padding: 4px 12px;
//     cursor: pointer;
// }

// .user-avatar {
//     width: 32px;
//     height: 32px;
//     object-fit: cover;
//     border-radius: 50%;
//     margin-left: 12px;
//     cursor: pointer;
// }

// .more-btn {
//     font-size: 20px;
//     margin-left: 24px;
//     background-color: transparent;
//     padding: 4px 8px;
//     cursor: pointer;
// }

.nav-bar {
    margin-top: var(--default-layout-header-height);
    width: 100vw;
    height: var(--default-navbar-header-height);
    background-color: #343a40;
    display: flex;
    justify-content: center;
}

.inner-navbar {
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
}

.navbar-public {
    display: flex;
    flex-direction: row;
}

.navbar-user {
    display: flex;
    flex-direction: row;
}
