.nav-btn-active {
    background-color: #141414;
    display: flex;
    justify-content: space-around;
}

.action-icon {
    padding-left: 8px;
}

.nav-btn {
    height: var(--default-navbar-header-height);
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #141414;
    }
}

.navbar-title {
    padding: 10px;
}
